<body>
    <h2><p>This Website is for the preparation of Final Project of Full Stack Web development</p></h2>
    <h2>This Website is for the Mods map on Dota 2 <h2>
    <h3>Created by: Jake Saquisame</h3>
    <h3>Thanks for Reading !</h3>
</body>
