<html>
    <head>
        <ul>
            <li><h1>Choose your Hero</h1></li> 
            <li><h1><%= link_to 'Choose your Hero by Stat' , '/stat/index'  %></h1></li>
            <li><h1>Choose your Hero by Attack Type</h1></li>
        </ul>
    </head>
    
    <h2>List of Current Heroes</h2>
<body>
<ul>
    <% @list_hero.each do |hero| %>
        <li>
            Name: <%= link_to hero.name, hero  %>  
        </li>
    <% end %>
</ul>
<body>


