<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Intro to Project</title>
    <h1><%= link_to 'Welcome to Dota', root_path %></h1>
</head>
<%= yield %>
<footer>
<p><i>No Copyrights</i></p>
</footer>
<p><strong><%= link_to 'Back to Menu', root_path %></strong></p>
</html>
